.title {
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    color:  rgb(209, 103, 120)
}

.description {
    text-align: center;
    margin-bottom: 30px;
    font-size: x-large;
    color: rgb(160, 112, 24);
}

.container {

    width: 40%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: auto;
    border: 3px solid gray;
    
}

.cell {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: honeydew;
    border: 1px solid rgb(209, 103, 120);
}

.cell:hover {
    background-color: rgb(220, 230, 220);
}

#reset-button-container {
    margin-top: 20px;
    text-align: center;
}

#reset-button {
    height: 30px;
    width: 100px;
    font-size: large;
    font-weight: bold;
    background-color: rgb(225, 228, 225);;
    border: none;
    color: rgb(209, 103, 120);
    border-radius: 10px;
}

#reset-button:hover {
    background-color: rgb(193, 196, 193);
}